#puerto donde escucha el backend
PORT=8080

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=h1_canchas

# JWT (lo vas a necesitar cuando hagas auth)
JWT_SECRET=123456789